<!doctype html>
<html>
 <head>
  <meta charset='utf-8'>
  <title>{% block title %}Default Title{% endblock %}</title>
  <link rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }}' type="text/css">
 </head>
 <body>
  
  {% if user.id %}
  <strong>Current User:</strong> {{ user.id }} (<a href="{{ url_for('logout') }}">Logout</a>)
  {% endif %}
  
  <h1>{{ self.title() }}</h1>
  
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul class='flashes'>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
   {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  
 </body>
</html>