{% extends 'base.html' %}

{% block title %}Presentation: {{ p['title'] }}{% endblock %}

{% block content %}

<a href='{{ url_for("edit", pid=p["id"]) }}' class='btn-txt'>Edit</a>

<ul>
   <li><strong>Title:</strong> {{ p['title'] }}</li>
   <li><strong>Presenter(s):</strong> {{ p['presenters'] }}</li>
   <li><strong>Date and Time:</strong> {{ p['scheduled'] }} {{ p['time_range'] }}</li>
  </ul>
  
<h2>Notes</h2>
{{ p['notes']|safe }}

{% if p['attachments'] %}  
<h2>Attachments</h2>
<ul>
    {% for a in p['attachments'] %}
    <li><a href="{{ url_for('getfile', pid=p['id'], aid=loop.index-1) }}">{{ a }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
