{% extends 'base.html' %}

{% block title %}Scheduled Presentations{% endblock %}

{% block content %}
<table>
 <thead>
  <tr>
   <th width="20%">Date &amp; Time</th>
   <th width="50%">Title</th>
   <th width="30%">Presenters</th>
  </tr>
 </thead>
 <tbody>
  {% for p in presentations %}
   <tr>
    <td class='centered-text'>{{ p['scheduled'] }}<br>{{ p['time_range']  }}</td>
    <td><a href="{{ url_for('details', pid=p['id']) }}"><strong>{{ p['title'] }}</strong></a></td>
    <td  class='centered-text'>{{ p['presenters'] }}</td>
   </tr>
  {% endfor %}
 </tbody>
</table>
{% endblock %}
